/*
Color palette
-------------
  offwhite: "hsl(60, 10%, 95%)", // #f4f4f1
  offwhiteTransparent: "hsla(60, 10%, 95%, 75%)",
  primary: "#BE007C", //	hsl(321, 100%, 37%)
  primaryDark: "hsl(321, 100%, 18%)",
  golden: "ffb56b",
  dark: "#1C1F31", //	hsl(231, 27%, 15%)
  darkBlue: "#2d3159",
  palette: {
    50: "FF8E83",
    100: "#ff6f61",
    200: "#f45666",
    300: "#e63d6c",
    400: "#d42274",
    500: "#be007c"
  }
*/
body {
  --offwhite: hsl(60, 10%, 95%);
  --darkBlue: #2d3159;
  background-color: var(--darkBlue);
  color: var(--offwhite);
  font-family: 'Spartan', sans-serif;
}

b {
  color: #FF8E83;
}

a {
  text-decoration: none;
  color: hsl(60, 10%, 95%);
}

a:hover {
  color: #FF8E83;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@media (pointer: coarse) {
  html {
    --min-tap-height: 44px;
  }
}